<div>
    <h1>
        Definition des portions
    </h1>

    <form [formGroup]="portionForm" (ngSubmit)="onNewPortion(portionForm.value)">
            <div>
     <!--             <select for="name" FormControlName="name">
                    <option value="" disabled>Choisisez un aliment</option>
                    <option *ngFor="let aliment of myAliments; let i=index" [value]="i">{{aliment.name}}</option>
                </select>
            </div> 
      <div>-->
            <label for="name">
                Nom
            </label>
            <input id="portionName" type="text" formControlName="name">
          </div>  

        <div>
          <label for="ig">
              Portion (g)
          </label>
          <input id="portionWeight" type="number" formControlName="weight">
        </div>  
        <button class="button" type="submit" id="addPortion">Ajouter</button>
    </form> 
</div>
<div>    
    <h1>Charge totale: {{this.totalGlucide}} </h1> 
    <h1>
        Liste des portions ajoutées
    </h1>
    <table>
        <tbody>
            <tr>
                <td>Nom de l'aliment</td>
                <td>Index glycémique</td>
                <td>Proportion de glucides (g) </td>
                <td>Charge glycémique calculée </td>
                <td>Supprimer</td>
            </tr>
            <tr *ngFor="let portion of portionArray">
                <td>{{portion.name}}</td>
                <td>{{portion.calculatedIG}}</td>
                <td>{{portion.weight}}</td>
                <td>{{portion.glucide}}</td>
                <td><button (click)="delete(portion)">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>
