<div>
    <h1>
        Formulaire d'ajout
    </h1>
    <form [formGroup]="alimentForm" (ngSubmit)="onNewAliment(alimentForm.value)">

        <div>
            <label for="name">
              Nom de l'aliment
            </label>
            <input id="name" type="text" formControlName="name" required>
          </div>
        
        <div>
          <label for="ig">
              Index glycémique
          </label>
          <input id="ig" type="number" min="0" max="200" formControlName="ig">
        </div>  

          <div>
            <label for="ig">
              Proportion de glucides
            </label>
            <input id="carbs" type="number" min="0" max="100" formControlName="carbs">
          </div>

        <button class="button" type="submit" id="addButton">Ajouter</button>
      
    </form>
</div>
<div>    
    <h1>
        Liste des aliments enregistrés
    </h1>
    <table>
        <tbody>
            <tr>
                <td>Nom de l'aliment</td>
                <td>Index glycémique</td>
                <td>Proportion de glucides (g/100g) </td>
                <td>Supprimer</td>
            </tr>
            <tr *ngFor="let aliment of myAliments">
                <td>{{aliment.name}}</td>
                <td>{{aliment.ig}}</td>
                <td>{{aliment.carbs}}</td>
                <td><button (click)="delete(aliment)">Supprimer</button></td>
            </tr>
        </tbody>
    </table>
</div>